* {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}


.title {
    background-color: #ffffff;
    color: #000000;
    font-size: 32px;
    /* font-weight: 500px; */
    display: inline-block;
    height: 70px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.nav-item a {
    background-color: #ffffff;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 0 10px;
    /* 調整選項的內邊距 */
    margin: 0px 10px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    /* 添加 hover 效果（可選） */
}

.nav-item a:hover {
    /* background-color: #909090; */
    color: #1CB5E0 !important;
}

/* banner 區域 ========================================= */
.banner {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-blend-mode: multiply; */
    background-image: url(./images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1080px;
    margin: 0 auto;
}

.banner h1 {
    color: #ffffff;
    font-size: calc(1.5rem + 2.8vw);
    font-weight: 700;
    text-align: center;
    padding-top: 15%;
}

.banner h2 {
    color: #ffffff;
    /* font-size: calc(0.5rem + 1.2vw); */
    font-weight: 500;
    text-align: center;
    line-height: 120px;
}

/* 自我介紹 ================== */
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #1CB5E0 !important;
}

.intro {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.btn {
    width: 120px;
    height: 36px;
    margin-bottom: 50px;
    background-image: linear-gradient(135deg,  #348AC7 0%, #7474BF 100%);
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    background-image: linear-gradient(135deg, #24C6DC 0% , #514A9D 100%);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.introleft-side {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.introleft-side img {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.introright-side {
    flex: 2;
    padding-top: 30px;
    padding-left: 20px;
    color: #ffffff;
}

.introright-side h2 {
    font-size: 60px;
    margin-bottom: 16px;
}

.infright-side p {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 18px;
}

/* 工作經歷 學歷 ================== */
hr {
    background-color: #1CB5E0;
    /* width: 1200px; */
    border: none;
    /* 移除默認的邊框 */
    height: 1.5px !important;
    /* 設置粗細，這裡設置為2px */
    margin: 20px 30px;
}

.left-side {
    margin-top: 50px;
    flex: 1;
    /*左邊區塊佔滿剩餘空間*/
    display: flex;
    /* 將容器設置為Flex容器 */
    align-items: flex-start;
    /* 將內容靠上對齊 */
    justify-content: center;
    /* 將內容水平置中對齊 */
}

.left-side h2 {
    font-size: 26px;
    line-height: 2;
    color: #1CB5E0;
    font-weight: 400;
}

.right-side {
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 2;
    /* 右邊區塊佔兩倍剩餘空間*/
    padding: 0px;
    /* 可以根據需要調整內距(padding) */
    /* background-color: #a4a3a3; */
}

.right-side h3 {
    font-size: 22px;
    line-height: 2;
    font-weight: 500;
}

.right-side p {
    font-size: 15px;
    line-height: 1.5;
}


:target {
    scroll-margin-top: 70px;
    /* 調整偏移量，根據你的固定頂部導航欄高度來設置 */
    /* background-color: #f0f0f0; 更改背景色 */
    animation: fadeIn 1.5s;
    /* 添加淡入動畫效果 */
    transition: scroll-margin-top 5s;
    /* 添加平滑過渡效果 */
}

/* 作品集 區塊的樣式 */
.portfolio {
    margin: 50px auto 0;
    background-color: #e7f7f9;
}

.section-title {
    font-size: 26px;
    line-height: 2;
    color: #1CB5E0;
    width: 100%;
    /* 讓標題橫跨整個父容器 */
    text-align: center;
    /* 標題置中 */
    padding-top: 50px;
    margin-bottom: 20px;
    /* 標題與作品區塊之間的間距 */
}

.section-title h2 {
    font-size: 26px;
    line-height: 2;
    font-weight: 400;
}

/* portfolio-item 區塊的樣式 */
.portfolio-item {
    margin-bottom: 100px;
    /* 作品區塊之間的間距 */
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.portfolio-item h3 {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;

}

.portfolio-item p {
    /* 調整文字的樣式... */
    margin-top: 10px;
    /* 設置文字和圖片之間的間距 */
    margin-bottom: 20px;
    text-align: center;
}

/* 通用按鈕樣式 */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1CB5E0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

/* Hover效果：當鼠標移到按鈕上時改變背景顏色 */
.custom-button:hover {
    background-color: #2980b9;
}

/* 與我聯繫 ================== */
.contact {
    background-color: #1CB5E0;
    padding: 30px 0 50px 0;
}

.contact h2 {
    font-size: 26px;
    line-height: 2;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.contact p {
    font-size: 20px;
    line-height: 2;
    color: #fff;
    text-align: center;
    margin: 30px 20px 0 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info a {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
    /* 調整選項的內邊距 */
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: underline;
}

.info a:hover {
    /* background-color: #909090; */
    color: #333;
}

/* footer ================== */
footer {
    background-color: #333;
    color: #ffffff;
    height: 70px;
    width: auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
}

/* ==========手機版========== */
@media (max-width: 767.98px) {
    .title {
        font-size: 1.5rem;
    }
    .banner{
        padding-top: 30%;
    }
}